.map__wrapper {
  height: 362px;
  background-image: url("../../images/map-mobile@1x.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/map-mobile@2x.png");
  }
}
